parameters:
    level: 0

    paths:
        - ../../src
        - ../../rules
        - ../../packages
        - ../../utils

    reportUnmatchedIgnoredErrors: false

    excludes_analyse:
        # List of all excluded elements for Rector and its dependencies
        # from ci/downgrade/configuration.php
        # Rector:
        - */tests/*
        - ../../ci/*
        - ../../stubs/*
        - ../../packages/rector-generator/templates/*
        - ../../packages/doctrine-annotation-generated/src/*
        # Dependencies:
        - ../../vendor/symfony/cache/DoctrineProvider.php
        - ../../vendor/symfony/cache/Messenger/EarlyExpirationHandler.php
        - ../../vendor/symfony/http-kernel/HttpKernelBrowser.php
        - ../../vendor/symfony/string/Slugger/AsciiSlugger.php
        - ../../vendor/symfony/cache/Adapter/CouchbaseBucketAdapter.php

    ignoreErrors:
        # trait in trait call
        - '#Call to an undefined method Rector\\PostRector\\Rector\\AbstractPostRector\:\:isObjectType\(\)#'
