{if \Rector\Renaming\Tests\Rector\Class_\RenameClassRector\Source\OldClass::SOME_COSTANT === $value}
{/if}
-----
{if \Rector\Renaming\Tests\Rector\Class_\RenameClassRector\Source\NewClass::SOME_COSTANT === $value}
{/if}
