.DS_Store
.idea/

.env
.editorconfig
.phpstorm.meta.php

phpstan.neon
rector.php
phpunit.xml
ecs.php
changelog-linker.php
phpstan-for-rector.neon

LICENSE

.gitattributes
.gitignore

*.md

.dockerignore
Dockerfile
docker-compose.yml
docker-compose.dist.yml

/vendor
/docs
