.DS_Store
.idea/

.env
.gitlab-ci.yml
.editorconfig
.phpstorm.meta.php

.coveralls.yml

phpstan.neon
rector.yaml
phpunit.xml
ecs.yaml
ecs-after-rector.yaml
changelog-linker.yaml

LICENSE

.git/
.gitattributes
.gitignore

*.md

.dockerignore
Dockerfile
docker-compose.yml
docker-compose.dist.yml

/vendor
/docs
/sample
/var
