.DS_Store
.idea/

.env
.editorconfig
.phpstorm.meta.php

phpstan.neon
rector.yaml
phpunit.xml
ecs.yaml
ecs-after-rector.yaml
changelog-linker.yaml

LICENSE

.git/
.gitattributes
.gitignore

*.md

.dockerignore
Dockerfile
docker-compose.yml
docker-compose.dist.yml

/vendor
/docs

.travis.yml export-ignore