/rector.yaml
/temp
!/temp/.gitkeep
/example
/vendor
/build
composer.lock
.idea/

/demo

.phpunit.result.cache

# often customized locally - example on Github is just fine
create-rector.yaml
phpstan-dependencies.json
phpstan-paths.txt
