/vendor
composer.lock
stubs

# PHPStorm meta files
.idea/

.phpunit.result.cache

# often customized locally - example on Github is just fine
rector-recipe.php

# testing
abz
/rector-temp-phpstan*.neon
