/temp
!/temp/.gitkeep
/example
/vendor
/build
composer.lock
.idea/

.phpunit.result.cache

# often customized locally - example on Github is just fine
create-rector.yaml

# tests - travis
/laravel-dir

# compiler
/compiler/composer.lock
/compiler/vendor
/tmp

# testing
abz
