package: "CodeQuality"
name: "SimplifyMirrorAssignRector"
node_types:
    - "Assign" # put main node first

description: "Removes unneeded $a = $a assigns"
code_before: "$a = $a;"
code_after: ""
source: "" # e.g. link to RFC or headline in upgrade guide, 1 or more in the list
level: "" # e.g. symfony30.yml, target config to append this rector to
