package: 'CodeQuality'
name: 'SimplifyMirrorAssignRector' # w/wo suffix
node_types:
    - 'Assign'

description: 'Removes unneeded $a = $a assigns'
code_before: "$a = $a;"
code_after: ""
source: "" # e.g. link to RFC or headline in upgrade guide
