includes:
    - vendor/symplify/easy-coding-standard/config/psr2.neon
    - vendor/symplify/easy-coding-standard/config/php71.neon
    - vendor/symplify/easy-coding-standard/config/symplify.neon
    - vendor/symplify/easy-coding-standard/config/common.neon

checkers:
    # Metrics
    PHP_CodeSniffer\Standards\Generic\Sniffs\Files\LineLengthSniff:
        absoluteLineLimit: 120
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\CyclomaticComplexitySniff:
        absoluteComplexity: 5
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\NestingLevelSniff:
        absoluteNestingLevel: 3

    # Class should be Final or Abstract
    - SlamCsFixer\FinalInternalClassFixer

    Symplify\CodingStandard\Sniffs\DependencyInjection\NoClassInstantiationSniff:
        extraAllowedClasses:
            - 'PhpParser\Node\*'
            - 'PhpParser\Comment\Doc'
            - 'Rector\DeprecationExtractor\Deprecation\*'
            - 'Rector\BetterReflection\SourceLocator\Located\LocatedSource'
            - 'phpDocumentor\Reflection\Types\*'

    Symplify\CodingStandard\Fixer\Naming\PropertyNameMatchingTypeFixer:
        extra_skipped_classes:
            - 'PhpParser\PrettyPrinter\Standard'
            - 'PhpParser\Node'

parameters:
    skip:
        Symplify\CodingStandard\Fixer\Php\ClassStringToClassConstantFixer:
            # classes might not exist
            - */src/Rector/Contrib/*/*Rector.php
            - */src/Rector/Contrib/**/Helper/**.php
            - */packages/NodeTypeResolver/tests/NodeCallerTypeResolver/**Test.php
            - */packages/NodeTypeResolver/**/PerNodeTypeResolver/**TypeResolver.php
            - */packages/NodeTypeResolver/**/PerNodeTypeResolver/**TypeResolver/Test.php
        SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff:
            # covariant types
            - */packages/NodeValueResolver/src/PerNodeValueResolver/*ValueResolver.php
        PHP_CodeSniffer\Standards\Generic\Sniffs\CodeAnalysis\EmptyStatementSniff:
            # intentionally
            - packages/BetterReflection/src/Reflector/SmartClassReflector.php

    skip_codes:
        SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff.MissingParameterTypeHint:
            # forcing "mixed" types
            - src/Node/NodeFactory.php
            - packages/NodeTypeResolver/tests/AbstractNodeTypeResolverTest.php
