includes:
    - vendor/symplify/easy-coding-standard/config/symfony-checkers.neon
    - vendor/symplify/easy-coding-standard/config/symfony-risky-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php70-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php71-checkers.neon
    - vendor/symplify/easy-coding-standard/config/symplify-checkers.neon
    - vendor/symplify/easy-coding-standard/config/common.neon
    - vendor/symplify/easy-coding-standard/config/spaces.neon

checkers:
    # Slevomat
    SlevomatCodingStandard\Sniffs\Namespaces\ReferenceUsedNamesOnlySniff:
        allowPartialUses: false

    # Metrics
    PHP_CodeSniffer\Standards\Generic\Sniffs\Files\LineLengthSniff:
        absoluteLineLimit: 120
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\CyclomaticComplexitySniff:
        absoluteComplexity: 5
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\NestingLevelSniff:
        absoluteNestingLevel: 3

parameters:
    exclude_checkers:
        # Excluded from symfony-checkers.neon
        - PhpCsFixer\Fixer\PhpTag\BlankLineAfterOpeningTagFixer
        - PhpCsFixer\Fixer\Operator\NewWithBracesFixer
        - PhpCsFixer\Fixer\Operator\UnaryOperatorSpacesFixer
        - PhpCsFixer\Fixer\Phpdoc\PhpdocAlignFixer

    skip:
        Symplify\CodingStandard\Fixer\Php\ClassStringToClassConstantFixer:
            # class might not exist
            - src/Rector/Contrib/Nette/RemoveConfiguratorConstantsRector.php
            - src/Rector/Contrib/Nette/NetteObjectToSmartTraitRector.php
        Symplify\CodingStandard\Sniffs\Debug\CommentedOutCodeSniff:
            # examples of code to be found
            - src/Rector/Contrib/Symfony/GetterToPropertyRector.php
