includes:
    - vendor/symplify/easy-coding-standard/config/psr2-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php70-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php71-checkers.neon

checkers:
