# this config has extensions, that helps PHPStan inside Rector to resolve more precise types
parameters:
    inferPrivatePropertyTypeFromConstructor: true

    scanDirectories:
        - stubs

    # see https://github.com/rectorphp/rector/issues/3490#issue-634342324
    featureToggles:
        disableRuntimeReflectionProvider: true

includes:
    - vendor/rector/phpstan-rules/config/config.neon
    - vendor/symplify/phpstan-extensions/config/config.neon

    - vendor/symplify/phpstan-rules/config/services/services.neon
    - vendor/symplify/phpstan-rules/packages/object-calisthenics/config/object-calisthenics-services.neon
    - vendor/symplify/phpstan-rules/packages/cognitive-complexity/config/cognitive-complexity-services.neon
