# this config has extensions, that helps PHPStan inside Rector to resolve more precise types
parameters:
    inferPrivatePropertyTypeFromConstructor: true

    scanDirectories:
        - stubs

    # see https://github.com/rectorphp/rector/issues/3490#issue-634342324
    featureToggles:
        disableRuntimeReflectionProvider: true

services:
    - PhpParser\NodeFinder

includes:
    - utils/phpstan-extensions/config/phpstan-extensions.neon
    - vendor/symplify/astral/config/services.neon
    - vendor/symplify/phpstan-extensions/config/config.neon
