<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
>
    <!-- tests directories to run -->
    <testsuite>
        <directory>packages/*/tests</directory>
        <directory>tests</directory>
    </testsuite>
    <!-- source to check coverage for -->
    <filter>
        <whitelist>
            <directory>packages/*/src</directory>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
