<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
>
    <php>
        <const name="RECTOR_REPOSITORY" value="true"/>
    </php>
    <testsuites>
        <testsuite name="main">
            <directory>rules/*/tests</directory>
            <directory>packages/*/tests</directory>
            <directory>tests</directory>
            <directory>utils/*/tests</directory>
            <exclude>packages/rector-generator/templates/*</exclude>
            <exclude>packages/rector-generator/tests/RectorGenerator/Fixture/expected</exclude>
            <exclude>rules/nette-tester-to-phpunit/tests/Rector/RenameTesterTestToPHPUnitToTestFileRector/Source/*</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">rules/*/src</directory>
            <directory suffix=".php">packages/*/src</directory>
            <directory>src</directory>

            <exclude>
                <file>rules/nette-tester-to-phpunit/tests/Rector/RenameTesterTestToPHPUnitToTestFileRector/Source/SomeCase.phpt</file>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
            <arguments>
                <array>
                    <element key="slowThreshold">
                        <integer>800</integer>
                    </element>
                    <element key="reportLength">
                        <integer>3</integer>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
</phpunit>
