includes:
    - ../../../../../../vendor/symplify/phpstan-rules/config/services/services.neon

services:
    -
         class: Rector\PHPStanExtensions\Rule\RectorRuleAndValueObjectHaveSameStartsRule
         tags: [phpstan.rules.rule]

    - Rector\PHPStanExtensions\NodeAnalyzer\TypeAndNameAnalyzer
    - Rector\PHPStanExtensions\NodeAnalyzer\SymfonyConfigRectorValueObjectResolver
