{if \Rector\Renaming\Tests\Rector\Name\RenameClassRector\Source\OldClass::SOME_COSTANT === $value}
{/if}
-----
{if \Rector\Renaming\Tests\Rector\Name\RenameClassRector\Source\NewClass::SOME_COSTANT === $value}
{/if}
