includes:
    - ../../../../../../vendor/symplify/phpstan-rules/config/services/services.neon

services:
    -
        class: Rector\PHPStanExtensions\Rule\ConfigurableRectorRule
        tags: [phpstan.rules.rule]
