includes:
    - ../../../../../../vendor/symplify/phpstan-rules/config/services/services.neon

services:
    - Rector\PHPStanExtensions\TypeAnalyzer\AllowedAutoloadedTypeAnalyzer

    -
        class: Rector\PHPStanExtensions\Rule\NoClassReflectionStaticReflectionRule
        tags: [phpstan.rules.rule]
