# see original config.neon in phpstan.neon - https://github.com/phpstan/phpstan-src/blob/386eb913abb6ac05886c5642fd48b5d99db66a20/conf/config.neon#L1582
# this file overrides definitions from the config above
services:
    defaultAnalysisParser:
        factory: @pathRoutingParser
        arguments!: []

    cachedRectorParser:
        class: PHPStan\Parser\CachedParser
        arguments:
            originalParser: @rectorParser
            cachedNodesByStringCountMax: %cache.nodesByStringCountMax%
        autowired: false

    pathRoutingParser:
        class: PHPStan\Parser\PathRoutingParser
        arguments:
            currentPhpVersionRichParser: @cachedRectorParser
            currentPhpVersionSimpleParser: @cachedRectorParser
            php8Parser: @php8Parser
        autowired: false

    rectorParser:
        class: PHPStan\Parser\RichParser
        arguments:
            parser: @currentPhpVersionPhpParser
            lexer: @currentPhpVersionLexer
        autowired: no
