{if \Rector\Tests\Renaming\Rector\Name\RenameClassRector\Source\OldClass::SOME_COSTANT === $value}
{/if}
-----
{if \Rector\Tests\Renaming\Rector\Name\RenameClassRector\Source\NewClass::SOME_COSTANT === $value}
{/if}
