services:
    - Rector\PHPStanExtensions\TypeAnalyzer\AllowedAutoloadedTypeAnalyzer
    - Rector\PHPStanExtensions\TypeResolver\GetNameMethodCallTypeResolver

    # $nodeFinder->findInstanceOf()
    # $nodeFinder->findFirstInstanceOf()
    -
        class: Rector\PHPStanExtensions\ReturnTypeExtension\FindInstanceOfReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

    # $node->getAttribute($1) => Type|null by $1
    -
        class: Rector\PHPStanExtensions\ReturnTypeExtension\GetAttributeReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

    # $nameResolver->getName() => in some cases always string
    -
        class: Rector\PHPStanExtensions\ReturnTypeExtension\NameResolverReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

    # $rector->getName() => in some cases always string
    -
        class: Rector\PHPStanExtensions\ReturnTypeExtension\NameResolverReturnTypeAbstractRectorExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
