services:
    -
        class: Rector\PHPStanExtensions\Rule\RequireRectorCategoryByGetNodeTypesRule
        tags: [phpstan.rules.rule]

    -
        class: Rector\PHPStanExtensions\Rule\KeepRectorNamespaceForRectorRule
        tags: [phpstan.rules.rule]

    -
        class: Symplify\PHPStanRules\Rules\IfNewTypeThenImplementInterfaceRule
        tags: [phpstan.rules.rule]
        arguments:
            interfacesByNewTypes:
                Symplify\RuleDocGenerator\ValueObject\CodeSample\ConfiguredCodeSample: Rector\Core\Contract\Rector\ConfigurableRectorInterface

    # open in Sypmlify 9.0.20 version
    -
        class: Symplify\PHPStanRules\Rules\IfImplementsInterfaceThenNewTypeRule
        tags: [phpstan.rules.rule]
        arguments:
            newTypesByInterface:
                Rector\Core\Contract\Rector\ConfigurableRectorInterface: Symplify\RuleDocGenerator\ValueObject\CodeSample\ConfiguredCodeSample
