services:
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenMethodCallOnTypeRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenMethodNamesByTypes:
                PhpParser\Node:
                    - 'getComments'
                    - getDocComment

    -
        class: Rector\PHPStanExtensions\Rule\RequireRectorCategoryByGetNodeTypesRule
        tags: [phpstan.rules.rule]

    -
        class: Rector\PHPStanExtensions\Rule\KeepRectorNamespaceForRectorRule
        tags: [phpstan.rules.rule]

    -
        class: Rector\PHPStanExtensions\Rule\ConfigurableRectorRule
        tags: [phpstan.rules.rule]

    -
        class: Symplify\PHPStanRules\Rules\RequireClassTypeInClassMethodByTypeRule
        tags: [phpstan.rules.rule]
        arguments:
            requiredTypeInMethodByClass:
                Rector\Core\Contract\Rector\PhpRectorInterface:
                    getNodeTypes: 'PhpParser\Node'
