name: Code Analysis [no dev]

on:
    pull_request: null

jobs:
    matrix:
        strategy:
            fail-fast: false
            matrix:
                actions:
                    -
                        name: 'Rector List'
                        run: bin/rector list

                    -
                        name: 'Show command'
                        run: bin/rector show --ansi

        name: ${{ matrix.actions.name }}
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2
            # see https://github.com/shivammathur/setup-php
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 7.4
                    coverage: none

            # must be removed, as local config is missing dev dependencies
            -   run: rm phpstan-for-rector.neon

            -   run: composer install --no-progress --ansi --no-dev

            -   run: ${{ matrix.actions.run }}
