# This workflow runs system tests: Use the Rector application from the source
# checkout to process "fixture" projects in tests/system-tests
# to see if those can be processed successfully
name: End to End tests

on:
    push:
        branches:
            - main

jobs:
    end_to_end:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php_version: ['7.2', '7.3', '7.4', '8.0', '8.1']
                directory:
                    - 'e2e/define-constant'
                    - 'e2e/dont-execute-code'
                    - 'e2e/parse-php7-code'
                    - 'e2e/parse-php8-code'

        name: Tests on PHP ${{ matrix.php_version }} - ${{ matrix.directory }}

        steps:
            -   uses: actions/checkout@v4

            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php_version }}
                    coverage: none

            -
                run: composer require rector/rector:dev-main --dev
                working-directory: ${{ matrix.directory }}

            -
                run: vendor/bin/rector process --dry-run --ansi
                working-directory: ${{ matrix.directory }}
