name: End to End global tests

on:
    push:
        branches:
            - main

jobs:
    end_to_end:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php_version: ['7.2', '7.3', '7.4', '8.0', '8.1']
                directory:
                    - 'e2e/global-install'

        name: End to end test - ${{ matrix.directory }}

        steps:
            -   uses: actions/checkout@v4

            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php_version }}
                    coverage: none

            # wait for deploy to packagist
            -   run: sleep 40

            -
                run: |
                    composer global require --dev rector/rector:dev-main
                    composer install --ansi
                working-directory: ${{ matrix.directory }}

            -
                run: /home/runner/.composer/vendor/bin/rector process --ansi --clear-cache
                working-directory: ${{ matrix.directory }}
